<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <client>
      <!--<endpoint address="http://localhost:3017/SampleService"
                 binding="basicHttpBinding"
                 contract="WcfSecureService.ISampleService"
                 name="sampleServiceEndpoint"/>-->
      <endpoint address="https://localhost:3018/SampleService"
                 binding="wsHttpBinding"
                 bindingConfiguration="httpsServiceCertOnly"
                 contract="WcfSecureService.ISampleService"
                 name="sampleServiceHttpsEndpoint"/>
    </client>
    <bindings>
      <wsHttpBinding>
        <binding name="httpsServiceCertOnly">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>