<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <client>
      <!--<endpoint address="http://localhost:3017/SampleService"
                 binding="basicHttpBinding"
                 contract="WcfSecureService.ISampleService"
                 name="sampleServiceEndpoint"/>-->
      <!--<endpoint address="https://localhost:3018/SampleService"
                 binding="wsHttpBinding"
                 bindingConfiguration="httpsServiceCertOnly"
                 contract="WcfSecureService.ISampleService"
                 name="sampleServiceHttpsEndpoint"/>-->
      <endpoint address="https://localhost:3018/SampleService"
                 binding="wsHttpBinding"
                 bindingConfiguration="httpsBindingWithClientCertificate"
                 behaviorConfiguration="ClientSSLCert"
                 contract="WcfSecureService.ISampleService"
                 name="sampleServiceHttpsDualAuthorizationEndpoint"/>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientSSLCert">
          <clientCredentials>
            <clientCertificate findValue="74e66c82b564553d3db678bf9b2f3e351e1ccb71" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="httpsServiceCertOnly">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="httpsBindingWithClientCertificate">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>