<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="WcfSecureService.SampleService" behaviorConfiguration="defaultServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:3018/SampleService"/>
          </baseAddresses>
        </host>
        <endpoint address="" 
                  binding="basicHttpBinding" 
                  contract="WcfSecureService.ISampleService"/>
      </service>
    </services>
  <behaviors>
    <serviceBehaviors>
      <behavior name="defaultServiceBehavior">
        <serviceMetadata httpGetEnabled="true"/>
        <!-- For developing purposes only!-->
        <serviceDebug includeExceptionDetailInFaults="true"/>
      </behavior>
    </serviceBehaviors>
  </behaviors>
  </system.serviceModel>
</configuration>