<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="WcfSecureService.SampleService" behaviorConfiguration="defaultServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:3017/SampleService"/>
            <add baseAddress="https://localhost:3018/SampleService"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:3017/SampleService"
                          binding="basicHttpBinding"
                          contract="WcfSecureService.ISampleService"/>
        <!--<endpoint address="https://localhost:3018/SampleService"
                  binding="wsHttpBinding"
                  bindingConfiguration="httpsBindingWithoutClientCertificate"
                  contract="WcfSecureService.ISampleService"/>-->
        <endpoint address="https://localhost:3018/SampleService"
                  binding="wsHttpBinding"
                  bindingConfiguration="httpsBindingWithClientCertificate"
                  contract="WcfSecureService.ISampleService"/>
        <endpoint address="mex" binding="wsHttpBinding" bindingConfiguration="httpsBindingWithClientCertificate"
                  name="mexEndpoint" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="httpsBindingWithoutClientCertificate">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="httpsBindingWithClientCertificate">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="defaultServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- For developing purposes only!-->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>